@import "rouge-base16-dark";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

body main, body header, nav div{
  width: 620px;
  margin: 0 auto;
}

/* BODY STYLES */
body {
  font-family: /*'Atkinson Hyperlegible',*/ 'Noto Sans', Helvetica, Arial, serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #ccc/*6d6d6d*/;
  background: #111/*e7e7e7 url(../images/body-bg.png) 0 0 repeat;*/
}

/* LINKS */
main a, footer a {
  color: #ccc;
  text-decoration: underline;
  // font-style: italic
}
main a:hover, footer a:hover {
  color: #fff
}
nav a {
  color: #ccc;
  text-decoration: none;
}

/* GENERAL STYLES */

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  img {
    margin-top: 20px
  }
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%
}

/* ASIDE */
// Inspired by https://edwardtufte.github.io/tufte-css/

aside {
  width: 20%;
  float: right;
  clear: right;
  margin-right: -33%;
}


/* HEADER */

header {
  padding-top: 10px;
  padding-bottom: 25px;
  h1 {
    //font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 48px; font-weight: 900;
    line-height: 1.2;
    color: #eee;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.3;
    color: #aaa;
    letter-spacing: -1px;
  }
}

/* QUOTES */

blockquote {
  border-left: 4px solid #333;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
  cite {
    font-style: normal
  }
}

/* LISTS */

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

/* NAVBAR */

nav {
  padding: 10px;
  background-color: #222;
  div{
    display: flex;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

footer {
  background-color: #222;
  div{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 40px;
    font-size: 0.8em;
    width: 620px;
    margin: 0 auto;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body main, body header, nav div, footer div {
    width: 94%;
    margin: 0 auto;
  }
  ul li {
    margin-left: 10px;
    padding-left: 10px;
  }
  ol li {
    margin-left: 10px;
  }
  aside {
        display: block;
        float: left;
        //left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        //vertical-align: baseline;
        position: relative;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
